@import url("normalize.css");

:root {
  --brand-red: #ff2f02;
  --gunmetal: #273043;
  --gray-blue: #9197ae;
  --honey-dew: #eff6ee;
  --deep-carmine-pink: #f02d3a;
  --white: #ffffff;
  --off-white: #eeeeee;
  --heading-font: "Press Start 2P", cursive;
  --body-font: "Ubuntu", Arial, Helvetica, sans-serif;
  --heading-font-b: "Ubuntu", sans-serif;
}

body {
  background-color: var(--off-white);
  font-family: var(--body-font);
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: animatedGradient 25s ease infinite;
  color: #fff;
}

@keyframes animatedGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.App-header {
  position: relative;
  background-color: var(--brand-red);
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--brand-red);
  margin-top: 0;
  z-index: 100;
}

.logo {
  margin: 0 auto;
  width: 390px;
  height: 100px;
  background-color: var(--brand-red);
  background-image: url("../img/noroff-logo.png");
  background-repeat: no-repeat;
  background-size: 190px;
  background-position: center center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-b);
  color: #fff;
  margin-top: 0;
}

p {
  color: var(--white);
  font-size: calc(10px + 1vmin);
  margin-top: 0;
}

.sr-only {
  display: none;
}

.hero-banner {
  position: relative;
  margin-top: -90px;
  z-index: 1;
  background-image: url("../img/cover-photo-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  min-height: 80vh;
}

.hero-banner h1 {
  font-family: var(--heading-font);
  color: var(--white);
  font-size: calc(10px + 6vmin);
  padding: 1em;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  bottom: 0;
  margin: 0;
  text-shadow: 1px 1px 10px #000000;
  z-index: 2;
}

.hero-banner::before {
  display: block;
  content: " ";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.3);
}

.hero-banner .inner-padding {
  padding: 0;
}

.inner-padding {
  padding: 2em;
}

.inner-padding-small {
  padding: 2em 0;
}

.page-title {
  font-family: var(--heading-font-b);
  color: #fff;
  width: available;
  font-size: calc(18px + 6vmin);
}

.text-centered {
  text-align: center;
}

hr {
  border: none;
  border-top: 1px solid #FFF;
  padding: 0em 0 2em 0;
}

.grid {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  align-content: flex-start;
  flex-wrap: nowrap;
}

.grid-item {
  flex-grow: 1;
}

.bg-color-a {
  background-color: transparent;
}

.bg-color-b {
  background-color: transparent;
}

.bg-color-c {
  background: rgba(255,255,255,0.2);
}

.first-para {
  font-size: calc(18px + 2vmin);
}

.btn-register {
  display: block;
  padding: 1em;
  background-color: transparent;
  font-family: var(--body-font);
  font-size: calc(8px + 2vmin);
  text-align: center;
  color: var(--white);
  border: 2px solid var(--white);
  text-decoration: none;
  transition: all 0.5s ease-in;
}

.btn-register:hover {
  background-color: #e73c7e;
  transition: all 0.5s ease-in;
}

@media screen and (min-width: 768px) {
  .hero-banner {
    background-position: 0em -200px;
  }

  .grid {
    display: flex;
    flex-direction: row;
  }

  .grid-item {
    flex-grow: 1;
    width: 50%;
  }
  
  .inner-padding-small {
    padding: 2em 2em;
  }
}

.footer {
  color: var(--white);
}
